@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar  */

::-webkit-scrollbar {
  width: 8px;
  height: fit-content;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  margin: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b863e9;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6835f1;
}
